@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* selector universal */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #240a14;
    color: #ffc2da;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
h1{
    font-weight: 300;
    background-color: #11060a;
    padding: 32px;
    text-align: center; /* centrar el texto */
}
#caja1{
    background-color: #880135;
    height: 100px;
    width: 200px;
    margin-bottom: 32px;
    padding-left: 50px;
    padding-top: 50px;
}
#caja2{
    background-color: #f9005f;
    height: 100px;
    width: 200px;
}
